*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f3f4f4;;
}
.navigation{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    /* border: 2px solid black; */
    margin: 1em 2em;
    align-items: normal;
    height: 16vh;
}
#logo{
    
    background-image: url('./images/login/logo');
    background-repeat: no-repeat;
   
    background-size: 100%;
    align-self: flex-start;

    color: rgb(255, 255, 255);
    width: 13em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 1px 4px 5px blue; */

}
#logo p{
    size: 22px;
    font-weight: bold;
}
#student{
    color: aqua;
}
.list{
    height: 8em;
    width: 8em;
    text-align: center;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    transition: transform .4s;
}
.list :hover{
    transform: scale(1.1);
}
.list .img{
    padding: 9px;
    display: block;

    width: 5em;
    height: 5em;

    margin: 2px;
   
    border-radius: 50%;
    background-color: white;

    box-shadow: 1px 4px 5px gray;
}
.list .img img{
    width: 3em;
    height: 3em;
}


.login{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url('./images/login/background.png');
    border-radius: 45px;
    width: 59em;
    height: 26em;
    box-shadow:  2px 10px 30px 11px #eee4ec;
}
.login .image img{
    height: 24em;
    width: auto;
    position: relative;
    bottom: 25px;

}

.input{
    border-width:0px; 
    border:none;
    outline:none;
    margin-left: 1em;
}


.svgs{
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
    padding: 10px;
    background-color: white;
    justify-content: space-around;
    border-radius: 24px;
    box-shadow:  3px 13px 36px #ddd;

}
.svgs img{
    /* size: 15px; */
    width: 12px;

}
h4{
    text-align: center;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit button{
    border-radius: 24px;
    width: 5em;
    box-shadow:  3px 13px 36px #f99999;

}
